{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128" type="image/x-icon">
    <meta name="description" itemprop="description" content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords" content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static "formStyle.css" %}">
    <title>Youttify</title>
</head>
<body>
    <div class="signup_header">
        <a href="" target="_blank"></a>
    </div>
    <div class="signup_body">
        <form class="login_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="label signup-title center-align">Change Your Password.</span>
            <input name="email" type="hidden" class="form_input" id="email">
            <label for="password" class="label">Create a password</label>
            <input name="password" type="password" class="form_input" id="password" placeholder="Create a password." required>
            <label for="confirm-password" class="label">Confirm your password</label>
            <input type="password" class="form_input" id="confirm-password" oninput="checkPassword()" placeholder="Re-type your password" required>
            <div id="password-error" class="error"></div>
            <button class="btn btn_log_in" type="submit">Submit</button>
            <div class="divider"></div>
            <p class="label center-align">Back To? <a href="/user_login">Log in</a>.</p>
        </form>
    </div>
    <script>
        function checkPassword() {
            const passwordInput = document.getElementById("password");
            const confirmPasswordInput = document.getElementById("confirm-password");
            const errorDiv = document.getElementById("password-error");
            const strengthRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;

            if (!strengthRegex.test(passwordInput.value)) {
                errorDiv.textContent = "Password must contain at least one lowercase letter, one uppercase letter, one digit, and be at least 8 characters long.";
                confirmPasswordInput.setCustomValidity("Invalid password");
            } else if (passwordInput.value !== confirmPasswordInput.value) {
                errorDiv.textContent = "Passwords did not match.";
                confirmPasswordInput.setCustomValidity("Passwords did not match");
            } else {
                errorDiv.textContent = "";
                confirmPasswordInput.setCustomValidity("");
            }
        }
    </script>
</body>
</html>
